*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*{
  list-style: none;
}

.input-error{
  box-shadow: 0 0 0 0.25rem hsl(358deg 94% 50% / 52%);
  border-color: hsl(358deg 94% 50% / 52%) ;
}

ul,li{
  margin: 0;
  padding: 0;
}


body{
  background: #dfefdc;  
}

.discount__border, .modified__border{  
    background-color: white;    
    border-radius: 23px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);  

}

.input__border, .btn__border{
  border-radius: 23px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
 transition: .3s;
}

.toast-container{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 4;
}

.toast-button{
  border: none;
}

.toast-body, .toast-header{
  color:black;
}

.error__font{
  font-size: .9rem;
  color: hsl(358deg 94% 50% / 52%);
}

.info__home{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.discount__container{
  max-width: 334px;
  min-width: 300px;
}
@media screen and (min-width: 576px){
  .discount__container{  
    width: 370px;
  }
}

.purchase__container{
  max-height: 374px;
  overflow-y: auto;
}

@media screen and (max-width: 575px){
  .info__home{
    min-height: 363px;        
    max-height: 422px;
  }
}  

.list__discount__container{
  display: flex;
  gap: 3rem;
}



/*   -----Hide Arrows From Input Number

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

