/* ================================= VARIABLES DE CSS  ================================= */

:root{

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --big--container--height: 597px;
    --small--container--height: 394px;
}

@media screen and (min-width: 576px){
    :root {
      --big--container--height: 500px;
      --small--container--height: 300px;
    }
}

@media screen and (min-width: 1200px){
  :root {
    --big--container--height: 500px;
    --small--container--height: 500px;
  }
}



/* Font size para grandes dispositivos */

@media screen and (min-width: 525px){
  :root {
      --big-font-size: 3rem;
      --h1-font-size: 2rem;
      --h2-font-size: 1.7rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
  }
}




*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,li{
  margin: 0;
  padding: 0;
}

body{
  background: #dfefdc;  
}

h1{
  font-size: var(--h1-font-size);  
  font-weight: 600;
}

h2, .discount__title{
  font-size: var(--h2-font-size);
  font-weight: 500;
}

h3{
  font-size: var(--h3-font-size);
  font-weight: 600;
}

.calculator__paragraph, .create__paragraph, .info__paragraph{
  font-size: var(--normal-font-size);
  line-height: 1.5rem;
  font-weight: 500;
}

.calculator__button, .create__button{
  font-size: var(--small-font-size);
  font-weight: 600;
}

.discount__subtitle, .discount__extra{
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.discount__input{
  font-size: var(--small-font-size);
  font-weight: 500;  
}

.input-error{
  box-shadow: 0 0 0 0.25rem hsl(358deg 94% 50% / 52%);
  border-color: hsl(358deg 94% 50% / 52%) ;
}

.discount__border, .modified__border{  
    background-color: white;    
    border-radius: 23px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);  

}

.input__border, .btn__border{
  border-radius: 23px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
 transition: .3s;
}

.toast-container{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 4;
}

.toast-button{
  border: none;
}

.toast-body, .toast-header{
  color:black;
}

.error__font{
  font-size: .9rem;
  color: hsl(358deg 94% 50% / 52%);
}

.info__home, .discount__calculator{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: var(--small--container--height);
}

.create__discount{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: var(--big--container--height);
}

.discount__container{
  max-width: 334px;
  min-width: 300px;
}

@media screen and (min-width: 576px){
  .discount__container{  
    width: 370px;
  }
}

.purchase__container{
  max-height: 374px;
  overflow-y: auto;
}

@media screen and (max-width: 575px){
  .info__home{
    min-height: 363px;        
    max-height: 422px;
  }
}  

.list__discount__container{
  display: flex;
  gap: 3rem;
}



/*   -----Hide Arrows From Input Number

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input__border{
  background-color: hsl(107, 70%, 96%);  
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.input__label{
  font-size: .75rem;
  color: hsl(2,8%,15%);
}

.input__style{ 
  background-color: hsl(107, 70%, 96%);
  color: hsl(2, 8%, 45%);  
  font-size: .938rem;
  border: none;  
}

.input__span{
  display: flex;
  justify-content: flex-end;
}